{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "firefox/campaign/unfck/index.html" %}

{% from "macros.html" import twitter_share_url with context %}
{% from "macros-protocol.html" import card, call_out, hero with context %}

{% block page_title %}Unfck the Internet - Aus Liebe zum Web{% endblock %}

{% block page_desc %}Wenn das Internet genutzt wird, um Menschen online zu folgen und ihre persönlichen Daten zu sammeln, müssen Lösungen her, die uns alle besser schützen.{% endblock %}

{% block page_image %}{{ static('img/firefox/campaign/unfck/de/og.png') }}{% endblock %}

{% block page_css %}
  {{ super() }}
  {{ css_bundle('firefox-unfck-de') }}
{% endblock %}

{% block content %}
<main role="main" class="t-unfck">

  <div class="c-banner-de-wrapper">
    <div class="c-banner-de"></div>
  </div>

  {% call hero(
    title='Unfck the Internet',
    class='mzp-t-firefox mzp-t-dark',
    include_cta=True,
    heading_level=1)
  %}
    <div class="mzp-c-hero-desc">
      <h2>Aus Liebe zum Web</h2>
      <p>Wir lieben es. Wir brauchen es. Aber wir wissen auch, wie das Internet von einigen genutzt wird, um uns zu tracken, zu lenken und in Systeme zu stecken. Firefox ist und bleibt unabhängig und wird von dem Non-Profit Mozilla unterstützt. Schütze dich und das Web, das du liebst – Unfuck the Rest.</p>
    </div>
    {{ download_firefox(alt_copy='Download Firefox', download_location='primary cta') }}

    <a href="{{ url('firefox.facebookcontainer.index') }}" class="mzp-c-button mzp-t-product mzp-t-xl c-button-fb-container hide-from-legacy-ie" data-cta-type="button" data-cta-text="Add Facebook Container">
      Facebook-Container hinzufügen
    </a>
  {% endcall %}

  <h2 class="c-section-title">Die Unfuck-Checkliste</h2>

  <div class="mzp-l-content mzp-t-content-lg">

    {% call item(
      title='Unfck Social Media',
      info='Mach’s Facebook schwerer, dir durch’s Web zu folgen und deine Daten zu sammeln. (Facebook sammelt deine Daten selbst dann, wenn du gar keinen Account hast.)',
      link_text='Hol dir den Facebook Container ',
      link_url=url('firefox.facebookcontainer.index'),
      id='facebook-container',
      src=static('img/firefox/campaign/unfck/de/gifs/firefox-022.gif'),
      link_include_utms=False,
      link_is_external=False,
    ) %}{% endcall %}

    {% call item(
        title='Unfck Desinformation',
        info='Fehlinformationen machen immer häufiger und schneller die Runde. Mit ein paar einfachen Tipps, kannst du dich und andere besser davor schützen.',
        link_text='Zu den Tipps',
        link_url='https://blog.mozilla.org/firefox/de/so-entlarvst-du-falschinformationen-im-web',
        id='desinformation',
        src=static('img/firefox/campaign/unfck/de/gifs/firefox-017.gif'),
      ) %}{% endcall %}

      {% call item(
        title='Unfck Hate Speech',
        info='Wie wir online miteinander umgehen, wirkt sich oft stark auf unser Leben offline aus. Erfahre mehr zum Thema Hassrede und wie wir besser damit umgehen können.',
        link_text='Mehr zum Thema',
        link_url='https://blog.mozilla.org/firefox/de/hass-im-web-was-koennen-wir-gegen-hate-speech-tun/',
        id='hate-speech',
        src=static('img/firefox/campaign/unfck/de/gifs/firefox-020.gif'),
      ) %}{% endcall %}

      {% call item(
        title='Netflix & change',
        info='Schau dir die Dokumentation <em>“The Social Dilemma”</em> mit unseren Freunden des Center of Human Tech an und erfahre mehr darüber, wie Milliarden von Menschen zur Handelsware der Konzerne werden.'|safe,
        link_text='Zur Doku',
        link_url='https://www.thesocialdilemma.com/take-action/',
        id='hate-speech',
        src=static('img/firefox/campaign/unfck/de/gifs/firefox-015.gif'),
      ) %}{% endcall %}

      {% call item(
        title='Sei Teil des Unfck-Effekts',
        info='Je mehr wir darüber sprechen, was wir im Internet ändern müssen, desto größer der Unfck-Effekt. Sag uns und der Welt, was dich am Internet nervt und teile deine Meinung auf Twitter.',
        id='tweet',
        src=static('img/firefox/campaign/unfck/de/gifs/firefox-019.gif'),
        include_cta=True,
        ) %}
        {% set page_url = settings.CANONICAL_URL + '/firefox/unfck/' %}
        <form class="c-tell" action="{{ 'https://www.twitter.com/intent/tweet?url=%s'|format(page_url|urlencode)|e }}" method="post">
          <textarea class="c-tell-input" placeholder="Was nerv dich am Internet?" required maxlength="280"></textarea>
          <button type="submit" class="c-tell-button mzp-c-button mzp-t-secondary js-tell-button">Teilen</button>
        </form>
      {% endcall %}
  </div>

  <div class="mzp-l-content mzp-t-content-xl">
    <div class="mzp-l-card-half">
      {{ card(
        title='Unterstützt von einem Non-Profit',
        ga_title='card-non-profit',
        image_url=None,
        link_url=url('mozorg.about.manifesto'),
        heading_level=3,
        desc='Firefox wurde 2002 gegründet, um Tech-Monopolen nicht das Feld zu überlassen. Hinter Firefox steht die gemeinnützige Organisation Mozilla. Firefox kann unabhängig agieren und entwickelt Produkte für Menschen, nicht für Profit. Der Firefox Browser läuft nicht auf Chromium, wir verkaufen keine User-Daten und wir setzen uns dafür ein, dass auch andere Unternehmen dies nicht tun.',
        cta='Mehr über Mozilla'
      )}}

      {{ card(
        title='Mehr Schutz. Mehr Power. Weniger Müll.',
        ga_title='card-firefox',
        image_url=None,
        link_url=url('firefox.new'),
        heading_level=3,
        desc='Der Firefox Browser ist von Grund auf auf Privatsphäre getrimmt. Das schützt dich nicht nur beim Surfen, sondern macht dich auch schneller. Nervige Werbung und Online-Tracker werden geblockt und ziehen nicht länger deine Performance herunter.',
        cta='Hol dir Firefox'
      )}}
    </div>
  </div>

  {% call call_out(
    title='Bleib auf dem Laufenden über:',
    class='call-out-instagram',
    include_cta=True
  ) %}
    <ul class="call-out-instagram-copy">
      <li>🥰 Menschen & Organisationen, die sich für ein faires Web einsetzen,</li>
      <li>🙌 Themen, die das Web bedeuten,</li>
      <li>💡 Tipps, wie du dich online schützen kannst.</li>
    </ul>

    <p><a class="mzp-c-cta-link" href="https://mzl.la/Instagram_" data-cta-type="link" data-cta-text="instagram">mzl.la/Instagram_</a></p>

    <a class="c-instagram-grid-link" href="https://mzl.la/Instagram_" data-cta-type="link" data-cta-text="instagram">
      <ul class="c-instagram-grid">
        <li>{{ high_res_img('img/firefox/campaign/unfck/de/insta/insta1.png', {'width': '400', 'height': '400', 'alt': '', 'loading': 'lazy' }) }}</li>
        <li>{{ high_res_img('img/firefox/campaign/unfck/de/insta/insta3.png', {'width': '400', 'height': '400', 'alt': '', 'loading': 'lazy' }) }}</li>
        <li>{{ high_res_img('img/firefox/campaign/unfck/de/insta/insta4.png', {'width': '400', 'height': '400', 'alt': '', 'loading': 'lazy' }) }}</li>
        <li>{{ high_res_img('img/firefox/campaign/unfck/de/insta/insta2.png', {'width': '400', 'height': '400', 'alt': '', 'loading': 'lazy' }) }}</li>
        <li>{{ high_res_img('img/firefox/campaign/unfck/de/insta/insta6.png', {'width': '400', 'height': '400', 'alt': '', 'loading': 'lazy' }) }}</li>
        <li>{{ high_res_img('img/firefox/campaign/unfck/de/insta/insta5.png', {'width': '400', 'height': '400', 'alt': '', 'loading': 'lazy' }) }}</li>
      </ul>
    </a>
  {% endcall %}

</main>
{% endblock %}

{% block js %}
  {{ super() }}
  {{ js_bundle('firefox-unfck-de') }}
{% endblock %}
